aiohttp
aiohttp-retry            
aiosignal                
ajax                     
asgiref                  
attrs                    
certifi                  
charset-normalizer       
decorator                
Django                   
django-appconf           
django-jsonfield         
django-phonenumber-field 
django-picklefield       
django-sms-gateway      
django-uuidfield-2     
frozenlist           
idna                   
multidict              
mysql                  
mysql-connector         
mysql-connector-python   
mysqlclient              
phonenumbers           
Pillow                  
pip                  
protobuf               
PyJWT                   
razorpay               
requests               
setuptools              
six                      
sqlparse             
twilio                
tzdata                
urllib3                
yarl                 